* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(238,238,228);
  color: rgb(35,20,15);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 15px 0;
}

li {
  list-style-type: none;
}

img {
  margin: 20px 0;
  vertical-align: bottom;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.about {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}

.about-me {
  text-align: left;
}

.about-me h3 {
  margin: 25px 0;
  text-align: center;
}
